# Visual Studio ile ilgili dosyalar
.vs/
*.user
*.suo
*.userosscache
*.userprefs

# Build sonuçları
bin/
obj/

# Paket dosyaları
*.nupkg
*.snupkg
packages/

# Yayınlama
*.Publish.xml

# Geçici dosyalar
*.log
*.tlog
*.tmp
*.cache
*.ide
*.class
*.pyc
*.pyo

# Kişisel bilgileri saklayan dosyalar
*.env
*.secret

# OS'e özel dosyalar
.DS_Store
Thumbs.db
desktop.ini

# Git ile ilgili dosyalar
*.orig
*.rej

# backup
*.bak
